.backgroundCont{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formWrapper{
  max-width: 800px;
  height: 80vh;
  padding: 2px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}
.content{
  /* border: 2px solid blue; */
  width: 100%;
  height: 80vh;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  background: #fff;
  color: #000;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
}
.formImage{
  width: 100%;
  height: 80vh;
  border-radius: 0 10px 10px 0;
  background: #000;
}

.content h1 {
    font-size: 2rem;
  }

.content button {
    padding: 5px 20px;
    background: #141414;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
.rightInput__field{
    padding: 5px;
}
label {
    font-weight: 700;
    display: inline-block;
  }

.rightInput__field input[type="text"] {
    border-radius: 7px;
    border: 2px solid #141414;
    padding: 10px;
    width: 100%;
    margin: 7px 0px;
  }

  input[type="password"] {
    border-radius: 7px;
    border: 2px solid #141414;
    padding: 10px;
    width: 100%;
    margin-top: 7px;
  }
  input:focus {
    outline: none;
  }
.form__footer{
  color: blue;
}

@media (min-width: 350px) and (max-width: 600px) {
  .formWrapper{
    grid-template-columns: 1fr;
  }
}


/* SignUp styles */
.BgCont {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 800px;
  height: 80vh;
  padding: 2px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}
.wrapper img{
  width: 100%;
  height: 80vh;
  border-radius: 10px 0 0 10px;
  /* background: #000;  */
  background: white;
}
.signup__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: white; */
  background: #3f3d56; 
  color: #fff;
  overflow-y: auto;
} 
.signup__content h1 {
    font-size: 1.5rem;
    margin-top: 10rem;
    color: #f0b452;
}

.signup__content button {
    padding: 7px 30px;
    background:#fff;  
    border-radius: 5px;
    color:#141414;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 700;
  }

label {
    font-weight: 600;
    color: #f0b452;
  }

.input__field input[type="text"], input[type="password"]{
    border-radius: 7px;
    border: 2px solid #141414;
    border: none;
    padding: 7px;
    width: 100%;
    margin: 5px 0px;
  }
  input[type="email"] {
    border-radius: 7px;
    border: 2px solid #141414;
    border: none;
    padding: 7px;
    width: 100%;
    margin-top: 7px;
  }
  input:focus {
    outline: none;
  }
  .footer {
    color: rgb(91, 91, 220);
  }
  button:hover {
    font-weight: 700;
  }
